body {
    
  }
  
  .player {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 0;
    overflow: hidden;
    z-index: 0;
  }
  
  /* This css is only applied when fullscreen is active. */
  .player:fullscreen {
    max-width: none;
    width: 100%;
  }
  
  .player:-webkit-full-screen {
    max-width: none;
    width: 100%;
  }
  
  .player__video {
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    object-fit: cover
  }
  .player__button .hideButton{
    display: none;
  }
  .player__button .image-box img{   
    height: 100%;
  }
  .player__button {
    background: none;
    border: 0;
    line-height: 1;
    color: #000;
    background:white;
    text-align: center;
    outline: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
  }

  
  .player__button:focus {
    border-color: #ffdc66;
  }
  
  .player__slider {
    width: 10px;
    height: 30px;
  }
  
  .player__controls {
    display: flex;
    position: absolute;
    bottom: 35px;
    /* width: 100%; */
    /* transform: translateY(100%) translateY(-5px);
    transition: all 0.3s;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.1); */
    width: fit-content;
  }
  
  .player:hover .player__controls {
    transform: translateY(0);
  }
  
  .player:hover .progress {
    height: 15px;
  }
  
  .player__controls > * {
    /* flex: 1; */
  }
  
  .progress {
    flex: 10;
    position: relative;
    display: flex;
    flex-basis: 100%;
    height: 5px;
    transition: height 0.3s;
    background: rgba(0, 0, 0, 0.5);
    cursor: ew-resize;
  }
  
  .progress__filled {
    width: 50%;
    background: #ffdc66;
    flex: 0;
    flex-basis: 50%;
  }
  
  /* unholy css to style input type="range" */
  
  input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type="range"]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffdc66;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #da55ba;
  }
  
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
  }
  
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffdc66;
    cursor: pointer;
  }
  